# Backup files etc.

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

# Mac OS specific

.DS_Store

# Windows specific

Thumbs.db*

# Add anything else that should not be added to your repository.
# Examples are:
# - Object files and executables
# - Large data files
# - Files containing passwords, credentials, etc.
# - Code dependencies

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

./back-end/src/main/resources/application.properties
